# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Exclude repository files that are not required by the Asset Library package.
.editorconfig export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.godot/** export-ignore
.vscode/** export-ignore
project.godot export-ignore
17_Visibile_Upstairs_System_Black_Shadow_48x48.png export-ignore
17_Visibile_Upstairs_System_Black_Shadow_48x48.png.import export-ignore
icon.svg.import export-ignore
addons/texture_cutter/*.uid export-ignore
